/* Admin Pages Header CSS - Copied from AdminPage.css */

/* Navigation Bar CSS code section */
.menu {
  background-color: #0f1734;
  width: 100%;
  height: 75px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*--------- Header Navigation Styles ---------*/
.header-nav{
  background: none;
  border: none; 
  padding: 0; 
  cursor: pointer;
}

.header-nav span {
  line-height: var(--logo-height) !important;
  color: rgb(216, 233, 255);
  margin-inline-start: .5rem !important;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(12px,calc(0.75rem + .6vw), 30px);
  text-align: start;
}

#admin-view-button, #admin-exit-view-button {
  background: linear-gradient(45.26deg, #FFE075 7.77%, #FFFFFF 93.85%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.language-toggle-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* مسافة بين الأيقونة والنص */
}

.logo {
  transform: scale(1.02);
  transition: transform 0.08s ease-in-out;
  --logo-height: 38px;
  height: var(--logo-height) !important;
  max-width: none !important; /* Kill Bootstrap's max-width */
  align-items: center;
}

.desktop-logo img{
  height: calc(18px + 0.6vw);
}

.logo::before {
  content: "";
  position: absolute;
  top: -4px;    /* how far above the text */
  bottom: -4px; /* how far below */
  left: -5px;   /* left space */
  right: -5px;  /* right space */
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.08s ease-in-out;
  z-index: -1; /* behind the text/icon */
}

.logo:hover::before {
  background-color: #2f3e5f;
}

.logo:hover {
  background-color: #2f3e5f;
  border-radius: 5px;
}

.logo:active {
  background-color: #2f3e5f;
}

.bootstrap-wrapper {
  height: 100%;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

/*--------- End Header Navigation Styles ---------*/
