    @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Joan&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    .poppins-regular {
            display: flex;
            flex-wrap: wrap;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: clamp(12px,calc(0.75rem + .6vw), 30px);
            /*line-height: 36px;*/
            text-align: start;
         }

        .sideNav{
        height: 100%; /*full page*/
        width: 0px; /*changed by JS*/
        position: fixed; /*stay in place*/
        z-index: 1062; /*set on top*/
        top: 0px; /*stays on top*/
        background-color: #0F1734;
        overflow-x: hidden; /*no side scrolling*/
        transition: 0.5s;
        
        }


        .filter-panel {
            gap: 0;
            padding: 20px;
            width: max-content;
            color: white;
            align-items: stretch;
            flex-wrap: wrap;
            background: #2F3E5F;
            border-radius: 22px;
            position: absolute;
            z-index: 1100;
            margin-top: 2px;
            left: 50%;
            transform: translateX(-50%);
            display: flex; 
        }

        .filter-column {
            min-width: 180px;
            padding: 5px 20px;
            border-inline-start: 1px solid #bdc3c7;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }



        #dateRangeFields {
          display: grid;
          row-gap: 8px;
        }

        .filter-column:first-child {
            border-left: none;
        }

        .filter-column h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: clamp(0.75rem, calc(1rem + .6vw), 2.5rem);
            line-height: 120%;
            /* identical to box height, or 29px */
            letter-spacing: -0.02em;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            padding-bottom: 0.35rem;
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .apply-btn {
            margin-top: 10px;
            color: white;
            float: right;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            align-self: flex-end;
            background: #4C9ADA;
            box-shadow: 0px 2px 1px rgba(64, 72, 82, 0.05);
            border-radius: 9px;
            transition: background-color 0.3s;
        }

        .apply-btn:hover {
            background-color: #2980b9;
        }

        @media (max-width: 992px) {
            .filter-panel {
                width: 90%;
                padding: 15px;
            }
            
            .filter-column {
                min-width: 200px;
                flex-shrink: 0;
            }
        }

        
        .navigation-bar{
            justify-content: center;
            padding: 12px;
            font-size: 13px;
            line-height: 1.4;
        }


        .mobile-menu-section {
            text-decoration: none;
            padding: 0px 5px;
        }

        .bar-button{
            display: inline-grid;
            grid-template-columns: 53px 1fr;
            height: 76px; /* or your preferred consistent height */
            box-sizing: border-box;
            margin: 0px;
            max-width: 250px;
            border: none;
            color: #ffffff;
            white-space: normal !important;
            gap: 8px;
            padding-inline-start: 8px;
        }


        .nav-icons{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-inline-start: 5px;
          padding-inline-end: 5px;
        }

        .nav-label{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          padding-inline-end: 8px;
          min-width: 0;
        }

        .nav-label label {
        white-space: normal !important;   /* allow wrapping */
        overflow-wrap: break-word;        /* wrap mid-word if needed */
        font-size: clamp(16px, 0.7em + 0.6vw, 1.2rem); /* responsive font size. for some reason makeing 1.26 into 1.2 fixes some bug in chrome */
        }

        .bar-button .nav-label label {
          white-space: normal !important;
        }


        #historyButton{
          display: flex;
          width: 100%;
        }

        .bar-button:hover{
            cursor: pointer;
            background: #ff0000;
        }

        .bar-button.hovered,
        .bar-button.active {
          display: inline-grid;
          width: auto;
           gap: 8px;
          padding-inline-start: 8px;
        }

        .bar-button.active label {
            display: block !important;
        }
        .hidden-card {
            display: none !important;
        }


        /*@media (min-width: 1400px){
          .bar-button label {
            font-size: 1.5em !important;
          }
        }
          */

/*--- for the people with the fancy screen that has too many pixels, the search bar was made absolutely centered for them---*/
        @media (min-width: 2250px) {
          .search-container {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
          [dir="rtl"] .search-container {
            left: auto;
            right: 50%;
            transform: translateX(50%);
          }
        }

        @media (max-width: 1130px) {
          .bar-button label {
            display: none !important;
            transition: all 0.3s ease;
              }

              #historyButton{
                display: grid !important;
              }

              .bar-button:hover {
                transition: all 0.3s ease;
                display:  grid !important;
                gap: 8px;
                width: auto;
              }    
              .bar-button:hover label{
                display:  block !important;
              }     
            .bar-button:after{
              display:  block !important;
            }

          .bar-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            gap: 0;
            flex-direction: column;
            width: 76px;
            }
        }

        .form-control {
          font-size: calc(0.75rem + 0.6vw) !important;
        }

    @media (max-width: 576px) {
      .filter-panel {
          margin-top: 0;
          width: 100%;
          left: 0;
          transform: none;
          border-radius: 0;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          height: max-content;
          font-size: calc(0.7rem + .6vw);
      }
      
      .filter-column {
          width: 100%;
          border-left: none;
          border-bottom: 1px solid #bdc3c7;
          margin-bottom: 5px;
      }

      .form-control {
        padding:.25rem .5rem;
      }
      
      .filter-column:last-child {
          border-bottom: none;
          margin-bottom: 0;
      }
    }



