body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left, #eae0ca, #304060);    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/imgs/iaufntn.png');
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    z-index: 0;
}

.login-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.logo {
    width: 120px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
    color: #00487c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #00365e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}



.help-link {
    margin-top: 15px;
}

.help-link a {
    color: #40007c;
    text-decoration: none;
    font-size: 14px;
}

.help-link a:hover {
    text-decoration: underline;
}
