@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-controller="home" asp-action="expense" >Go To Expenses</a>
    <a class="btn btn-secondary" asp-controller="home" asp-action="CreatEditExpense">Create Expense</a>
</div>
